.DS_Store
*~

.vim
.env
.venv
target
.idea
**/Cargo.lock

/data
tokenizers/data
bindings/python/tests/data
docs/build/
docs/make.bat

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/examples/.ipynb_checkpoints
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace
/fineweb_data/*
/results_100k_fixed/*
/results_100k_fixed_heapclean/*
/results_50k/*
/old_toks/*
old_toks/
out_bpe_approx_ll/
out_bpe_exact_ll/
results_token_counts/
*.gif
*.mp4
*.png
*.ipynb_checkpoints/
*.md
*.json
/.venv/*

.venv/